<div class="container" xmlns="http://www.w3.org/1999/html">

  <div class="row hidden">
    <div class="col-lg-12">
      <h1 class="page-header">Education:</h1>
      <ul class="nav nav-tabs" ng-repeat="education in eduCtrl.educationList">
        <li class="nav-item">
          <a ui-sref="education({educationId: education._id})" uib-tooltip="{{education.fieldOfStudy}}">{{education.institution}}
            <button type="button" class="glyphicon glyphicon-edit" ng-click="eduCtrl.showEdu(education)"></button>
            <button type="button" class="glyphicon glyphicon-remove"
                    ng-click="eduCtrl.deleteEdu(education.institution, education)"></button>
          </a>
        </li>
      </ul>
    </div>
    <!--<div>-->

    <!--<li>institution: {{eduCtrl.education.institution}}</li>-->
    <!--<li>fieldOfStudy: {{eduCtrl.education.fieldOfStudy}}</li>-->
    <!--<li>fsStartDate: {{eduCtrl.education.fsStartDate}}</li>-->
    <!--<li>fsFinishDate: {{eduCtrl.education.fsFinishDate}}</li>-->
    <!--<li>certTitle: {{eduCtrl.education.certTitle}}</li>-->
    <button type="button" class="update" ng-click="eduCtrl.showEdu({})">Add</button>
    <!--</div>-->
    <!--<div modal="showModal">modal</div>-->

    <br>
    <br>
    <form class="education-form hidden">
      <label>Add a new Education Entry:</label>
      <p class="input-group">
        <input type="text" class="form-control" placeholder="Name of institution"
               ng-model="eduCtrl.education.institution">
        <input type="text" class="form-control" placeholder="Field of Study" ng-model="eduCtrl.education.fieldOfStudy">
        <input type="text" class="form-control" placeholder="Start Month YYYY" ng-model="eduCtrl.education.fsStartDate">
        <input type="text" class="form-control" placeholder="Finish Month YYYY or Present"
               ng-model="eduCtrl.education.fsFinishDate">
        <input type="text" class="form-control" placeholder="Certificate title/more details"
               ng-model="eduCtrl.education.certTitle">
        <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="eduCtrl.updateEdu(eduCtrl.education)">add</button>
      </span>
      </p>
    </form>
  </div>

  <div class="panel panel-primary" ng-controller="GridCtrl as gridOpt">
    <div class="panel-heading">
      <h3 class="panel-title pull-left">Education List</h3>
      <button class="btn btn-xs btn-icon btn-success pull-right" uib-tooltip="Add Record" tooltip-placement="right"
              ng-click="gridOpt.addRow()">
          <span class="glyphicon glyphicon-plus">
          </span>
      </button>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-4">
          <button type="button" class="btn btn-success" ng-disabled="!gridOpt.gridApi.grid.options.multiSelect"
                  ng-click="gridOpt.selectAll()">Select All
          </button>
          <button type="button" uib-tooltip="Clear All" class="btn btn-success" ng-click="gridOpt.clearAll()">Clear All
          </button>
        </div>
      </div>
    </div>
    <div ui-grid="gridOpt.gridOptions" ui-grid-selection ui-grid-exporter class="grid"></div>
  </div>
</div>


