<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Resume for Mindi Salas</h1>
    <p class="lead">IT Professional with 30 years of experience</p>
<!--    <img src="assets\images\mcrosmall8.png" alt="eMerge">-->
  </div>
</header>

<div class="container">
 <!-- <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in $ctrl.awesomeThings">
        <li><a href="#" uib-tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="$ctrl.deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>-->

 <!-- <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="$ctrl.newThing">
      <input type="text" class="form-control" placeholder="Info about the new thing." ng-model="$ctrl.newThingInfo">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addThing()">Add New</button>
      </span>
    </p>
  </form>-->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Skills:<button class ="btn btn-success pull-right" ui-sref="skill">edit skills</button></h2>
      <!--todo if user = admin then ui-sref="education" for "Edit Education button-->
      <ul class="nav nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="skill in $ctrl.skillList |orderBy:'-sortOrder'" ng-if="skill.sortOrder > 9">
        <li uib-tooltip="{{skill.institution}}"><strong>{{skill.institution}} </strong></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Education:<button class ="btn btn-success pull-right" ui-sref="education">edit edu</button></h2>
      <!--todo if user = admin then ui-sref="education" for "Edit Education button-->
      <ul class="nav nav-stacked" ng-repeat="education in $ctrl.educationList |orderBy:'-sortOrder'" ng-if="education.sortOrder > 9">
        <li uib-tooltip="{{education.fieldOfStudy}}"><strong>{{education.institution}} </strong> - {{education.fieldOfStudy}} -
          {{education.fsStartDate}} to {{education.fsFinishDate}} - {{education.certTitle}}</li>
      </ul>
    </div>
  </div>

</div>
